.warpper{
    width: 1240px;
    margin: 0 auto;
}

/* <!-- 快速导航模块的搭建开始 --> */
.fastnav{
    height: 52px;
    background-color: #333;
}

.fastnav .warpper{
    height: 52px;
}

.fastnav .warpper ul{
    float: right;
    height: 52px;
}

.fastnav .warpper ul li{
    float: left;
    line-height: 52px;
    color: #666;
    border-right: #666;
}

.fastnav .warpper ul li:last-child a{
    margin-right: 0px;
}

.fastnav .warpper ul li a:hover{
    color: #27ba9b;
}

.fastnav .warpper ul li a{
    margin:0 16px;
    color: #dcdcdc;
	font-size: 14px;
}

.fastnav .warpper li:last-child a::before
{
    display: inline-block;
    content: '';
    width: 11px;
    height: 16px;
    margin-top: -3px;
    margin-right: 8px;
    background: url('../images/sprites.png') -160px -70px;
    vertical-align: middle;
}

 /* 快速导航模块的结束 */

.nav{
    height: 130px;
    margin-top: 30px;
}

.nav .logo{
    width: 207px;
    height: 70px;
    margin-left: 25px;
    font-size: 0px;
    background: url(../images/logo.png) no-repeat 0 0 /100%;
}

.nav ul{
    margin-left: 40px;
}
.nav ul li{
    height: 70px;
    line-height: 70px;
}

.nav ul li a {
    margin-right: 48px;
    padding-bottom: 7px;
}

header .nav ul li a:hover {
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
} 

header .nav .search {
    position: relative;
    margin-top: 24px;
    margin-left: 34px;
    width: 172px;
    height: 30px;
}
header .nav .search input {
    width: 172px;
    padding-left: 30px;
    height: 30px;border-bottom: 2px solid #e7e7e7;
}
header .nav .search::before {
    position: absolute;
    top: 5px;
    left: 2px;
    content: '';
    width: 18px;
    height: 18px;
    background: url(../images/sprites.png) no-repeat -80px -70px;
}

header .nav .cart {
    position: relative;
    margin-top: 28px;
    margin-left: 15px;
    width: 22px;
    height: 23px;
    background: url(../images/sprites.png) no-repeat -120px -70px;
}
header .nav .cart span {
    position: absolute;
    top: -5px;
    right: -12px;
    width: 20px;
    height: 15px;
    border-radius: 7px;
    background-color: #e26237;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
}
/* 导航栏结束 */

/* 底部区域开始 */
footer {
    height: 343px;
    background-color: #333;
}
footer .warpper {
    width: 1393px;
    height: 173px;
    padding-top: 62px;
    border-bottom: 3px solid #434343;
    box-sizing: border-box;
}

footer .warpper ul li {
    width: 33.33%;
    color: #fff;
    font-size: 28px;
    text-align: center;
}
footer .warpper ul li::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 58px;
    height: 58px;
    margin-right: 14px;
}
footer .warpper ul li:nth-child(1)::before {
    background: url(../images/sprites.png) no-repeat 0 0;
}
footer .warpper ul li:nth-child(2)::before {
    background: url(../images/sprites.png) no-repeat -130px 0;
}
footer .warpper ul li:nth-child(3)::before {
    background: url(../images/sprites.png) no-repeat -65px 0;
}
footer .foot {
    margin-top: 41px;
    text-align: center;
    font-size: 14px;
    color: #999;
    line-height: 24px;
}
footer .foot a {
    color: #999;
}
